{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action ="">
            {{form.hidden_tag()}}
            <fieldset>
                <legend> Enter New Astroid Discovery</legend>
                <div>
                    {{ form.ad.label() }}
                    
                    {% if form.ad.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.ad.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.ad() }}
                    {% endif %}
                </div>            
                <div>
                    {{ form.q.label() }}
                    {% if form.q.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.q.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.q() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.a.label() }}
                    {% if form.a.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.a.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.a() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.e.label() }}
                    {% if form.e.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.e.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.e() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.dv.label() }}
                    {% if form.dv.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.dv.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.dv() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.per.label() }}
                    {% if form.per.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.per.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.per() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.moid.label() }}
                    {% if form.moid.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.moid.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.moid() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.diameter.label() }}
                    {% if form.diameter.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.diameter.errors %}
                            <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.diameter() }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{form.submit()}}
            </div>
        </form>
    </div>
{% endblock content %}